.link {
    text-decoration: none;
    color: white;
    margin: 0.5rem;
}

.link:hover {
    color: black;
}

.cards {
    color: white;
    width: 15rem;
    margin: 0.7rem;
    background-color: rgb(26, 26, 26);
}
